@import "../base/base";

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  transition: 0.3s;
  width: calc(33.33% - 20px);
  border: 1px solid #ccc;
  border-radius: $_5;
  margin: $_10;
  .img-box {
    cursor: pointer;
    overflow: hidden;
    width: 48px;
    height: 48px;
    border: 1px solid #ccc;
  }
  .header-section {
    display: flex;
    margin-bottom: 10px;
    .name-section {
      border: none;
      color: #1a1a1a;
      font-size: 19px;
      width: $fullWidth;
      cursor: pointer;
      font-weight: bold;
      text-align: left;
      background: none;
      padding: $zeroSize;
      margin-left: $_15;
    }
  }
  .container {
    ul {
      list-style: none;
      padding: $zeroSize;
      margin: $zeroSize;
      li {
        font-size: $_15;
        padding-top: $_10;
        display: flex;
        color: #5e5c5c;
        line-height: $_20;

        svg {
          margin-right: $_10;
          color: $boldColor;
          margin-top: 2px;
        }
        a {
          color: inherit;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  // img {
  //   max-width: $fullWidth;
  //   width: $fullWidth !important;
  // }
}

@include tablet {
  .main-container {
    width: $fullWidth;
  }
  .card {
    width: calc(50% - 20px);
  }
}

@include mobile {
  .inner-container {
    width: 95% !important;
  }
  .card {
    width: $fullWidth;
  }
}
