@import "../base/base";

.header {
  background: $headingColour;
  margin-bottom: $_20;
  text-align: center;
  width: $fullWidth;
  font-size: $first_heading;
  h2 {
    color: $whiteColor;
    margin: $zeroSize;
    padding: $_10;
  }
}
