@import "../base/base";

.outer-container {
  width: $fullWidth;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  left: 0px;
  top: 0px;
  position: fixed;
  justify-content: center;
  align-items: center;
  display: flex;
  .inner-container {
    background: $whiteColor;
    width: 600px;
    //padding: $_20;
    h3 {
      background: $headingColour;
      margin: $zeroSize;
      padding: $_20;
      text-align: center;
      color: white;
    }
    .modal-box {
      display: flex;
      padding: 20px;
    }
    .user-picture {
      text-align: center;
      margin-top: $_10;
      border-radius: $fullWidth;
      overflow: hidden;
      width: 130px;
      height: 130px;
      img {
        width: $fullWidth;
      }
    }
    ul {
      list-style: none;
      margin: $zeroSize;
      padding: $_20;
      li {
        padding: $_10;
        font-size: 18px;
        svg {
          margin-right: $_5;
          float: left;
          margin-top: 2px;
        }
        a {
          color: inherit;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  .light-container {
    padding: $_10;
    background: $whiteColor;
  }
  .close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    background: gray;
    padding: 15px 18px;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
  }
}
@include tablet {
  .inner-container {
    width: 80% !important;
  }
}

@include mobile {
  .inner-container {
    width: 95% !important;
  }
  .modal-box {
    padding: $_5 !important;
    li {
      font-size: $_15 !important;
    }
  }
  .user-picture {
    width: 100px !important;
    height: 100px !important;
  }
}
