@import "../base/base";

.pagination {
  display: inline-block;
  width: $fullWidth;
  margin: 20px 20px 30px 0;
  ul {
    list-style: none;
    padding: $zeroSize;
    float: right;
    li {
      color: $blackColor;
      float: left;
      padding: 8px 16px;
      text-decoration: none;
      border: 1px solid $grayBg;
      cursor: pointer;
      :hover {
        background: $grayColor;
        color: $lightGrayColor;
      }
    }
    li:hover:not(.active) {
      background-color: $grayBg;
    }

    .disabled {
      background-color: $grayBg;
      color: $lightGrayColor;
      cursor: default;
    }
  }
}
