@import "../base/base";

.search-field {
  margin-bottom: $_10;
  width: $fullWidth;
  padding: $_10;
  display: inline-block;
  position: relative;
  input {
    height: 38px;
    padding: $_20;
    width: $fullWidth;
    border-radius: $_5;
    border: 1px solid #ccc;
    margin: $zeroSize;
  }
  svg {
    position: absolute;
    right: $_30;
    top: 23px;
    color: $lightGrayColor;
  }
}
@include mobile {
  .search-field input {
    float: initial;
  }
}
