@import "../base/base";

.search-field {
  margin-bottom: $_10;
  width: $fullWidth;
  padding: $_10;
  display: inline-block;
  input {
    height: 38px;
    padding: $_20;
    width: $fullWidth;
    margin-right: $_10;
    border-radius: $_5;
    border: 1px solid #ccc;
    float: right;
  }
}
@include mobile {
  .search-field input {
    float: initial;
  }
}
