@import "../base/base";

.search-field {
  margin-bottom: 20px;
  width: 100%;
  padding: 10px;
  input {
    height: 38px;
    padding: 20px;
    width: $fullWidth;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
}
