// sezes

$fullWidth: 100%;
$halfWidth: 50%;
$zeroSize: 0px;
$_5: 5px;
$_10: 10px;
$_15: 15px;
$_18: 18px;
$_20: 20px;
$_30: 30px;
//Margin

// Main Colors
$noColor: none;
$whiteColor: #ffffff;
$boldColor: #0d7a74;
$listTextColor: #5e5c5c;
$headingColour: #115657;
$blackColor: #000;
$grayColor: #ccc;
$grayBg: #ddd;
$grColor: #4a7f76;
$lightGrayColor: #838383;

//font size variable

$first_heading: 25px;

// RESPONSIVE VIEWPORT

$mobile: 575.98px;
$mobile_landscape_min: 576px;
$mobile_landscape_max: 767.98px;
$tablet_min: 768px;
$tablet_max: 991.98px;
$tablet_lanscape_min: 992px;
$tablet_landscape_max: 1199.98px;
$tablet_landscape_max: 1199.98px;
